<div style="float: right;">			<button ibmButton skeleton="true" size="xl" class="bx--btn--secondary">
	Add Contact
	<svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
		<path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="evenodd" />
	</svg>
</button></div>
<br/>
<br/>
<div *ngIf="showLoader" >
	<ibm-loading [isActive]="isActive" size="sm"  [overlay]="overlay">
		<!-- <div *ngIf="showLoader" class="sk-cube-grid">
		<div class="sk-cube sk-cube1"></div>
		<div class="sk-cube sk-cube2"></div>
		<div class="sk-cube sk-cube3"></div>
		<div class="sk-cube sk-cube4"></div>
		<div class="sk-cube sk-cube5"></div>
		<div class="sk-cube sk-cube6"></div>
		<div class="sk-cube sk-cube7"></div>
		<div class="sk-cube sk-cube8"></div>
		<div class="sk-cube sk-cube9"></div>
	  </div> -->
	  <!-- <div class="lds-hourglass"></div> -->
	</ibm-loading>
</div>
<ibm-table-container>
	<ibm-table-header>
		<h4 ibmTableHeaderTitle>TITLE</h4>
		<p ibmTableHeaderDescription>DESCRIPTION</p>
	</ibm-table-header>
	<ibm-table
	[skeleton]="skeleton"
	[model]="skeleton ? skeletonModel : model"
	[showSelectionColumn]="false"
    [striped]="false"
	>	
	</ibm-table>
	<ibm-pagination
  	[model]="model"    
  	(selectPage)="selectPage($event)"> 
	</ibm-pagination>
</ibm-table-container>
<!--model is where u send your data sliced inside selectPage method-->





<ng-template #customTableItemTemplate let-data="data">
   <a ibmLink routerLink="editIBMI" routerLinkActive="active"  >{{data.name}}</a>   <!--takes from current link repos/ -->
</ng-template> 

<!-- <ng-template #linkTemplate let-data="data">
	<ul style="display: flex">
	  <li>
		<a ibmLink [href]="data.github">Github</a>
	  </li>
	  <li *ngIf="data.homepage">
		<span>&nbsp;|&nbsp;</span>
		<a ibmLink [href]="data.homepage">HomePage</a>
	  </li>

	  new TableItem({
        data: {
          github: datum.url,
          homepage: datum.homepageUrl
        },
        template: this.linkTemplate
	  }) -->
	  <router-outlet></router-outlet>